* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  body {
    font-family: "Noto Serif TC", serif;

    .menu {
      width: 100px;
      height: 100px;
      // background-color: aqua !important;
      background-color: cornflowerblue !important;
      border-radius: 50%;
      // box-shadow: 0 0 5px rgba(67, 232, 216, 1), 0 0 10px rgba(67, 232, 216, 1),
      //   0 0 20px rgba(67, 232, 216, 1), 0 0 40px rgba(67, 232, 216, 1);
      box-shadow: 0 0 5px rgba(100, 149, 216, 1),
        0 0 10px rgba(100, 149, 216, 1), 0 0 20px rgba(100, 149, 216, 1),
        0 0 40px rgba(100, 149, 216, 1);
      animation: neo-shine 3s 1s linear infinite;
      .menu.hidden{
        display: none;
      }
      @keyframes neo-shine {
        0% {
          opacity: 1;
          transform: scale(0.6);
        }
        90% {
          opacity: 0.6;
          transform: scale(0.7);
        }
        100% {
          color: rgb(13, 13, 13);
        }
      }
      .nav-link {
      }

      transition: all 0.2s ease;
      transform: scale(0.5);
      &:hover {
        border: 4px solid #fff;
      }
      @media (min-width: 1024px) {
        width: 100px;
        height: 100px;
      }
    }
    .modal-dialog {
      .modal-content {
        background-image: url("../img/img-banner/menuBackground.png");
        background-size: cover;
        background-position: center center;
      }
      // background-attachment: fixed;
      .modal-header {
        // background-image: url("../img/img-banner/米色背板.png");
        background-size: cover;
        background-attachment: fixed;
        height: 92.7px;
        width: 100%;
      }
      .modal-body {
        // background-image: url("../img/img-banner/menuBackground.png");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-width: 220px;
          max-height: 600px;
        }
        .menu-link{
          // position: relative;
          &:hover .blackline{
            opacity: 1;
          }
          .blackline{
            // position: absolute;
            // bottom: 0px;
            opacity: 0;
            margin: 0px auto;
            height: 1px;
            // transition: opacity 0.3s ease-in;
          }
        }
        button {
          border: 1px solid black;
          transition: all 0.2s ease-in;
          &:hover {
            background-color: rgba(250, 235, 215, 0.445);
            box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.527)
          }
          &:hover a {
          }
        }
      }
    }

    section.banner {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 100vh;
      background-position: center center;
      background-size: cover;
      @media (max-width: 820px) {
        background-image: url("../img/img-banner/banner2.png");
      }
      @media (max-width: 375px) {
        background-image: url("../img/img-banner/banner375px-01.png");
      }
      .banner-active {
        display: none;
        @media (min-width: 820px) {
          display: block;
        }
        #title {
          width: 100%;
          position: absolute;
          z-index: 9;
          top: 6%;
          left: 45%;
        }

        #mountain {
          width: 100%;
          position: absolute;
          z-index: 0;
        }
        #grass3 {
          position: absolute;
          z-index: 2;
          width: 100%;
        }
        #tree2 {
          position: absolute;
          z-index: 1;
          width: 100%;
        }
        #deer {
          position: absolute;
          z-index: 2;
          right: 58%;
          top: 64%;
        }
        #tree1 {
          position: absolute;
          z-index: 3;
          width: 100%;
        }
        #grass2 {
          position: absolute;
          z-index: 4;
          width: 100%;
        }
        #bear {
          position: absolute;
          z-index: 5;
          bottom: 5%;
          right: 10%;
          @media (max-width: 1200px) {
            position: absolute;
            z-index: 8;
            bottom: 5%;
            right: 0%;
          }
        }
        #hunter {
          position: absolute;
          z-index: 5;
          bottom: 6%;
          left: 13%;
        }
        #grass {
          position: absolute;
          z-index: 6;
          width: 100%;
        }
        #sun {
          position: absolute;
          z-index: 8;
          top: 5%;
          right: 24%;
          @media (max-width: 1200px) {
            position: absolute;
            z-index: 8;
            top: 5%;
            right: 10%;
          }
        }
        #tatoo {
          position: absolute;
          z-index: 8;
          bottom: 0;
          transform: translateY(31%);
          border-radius: 30%;
        }
      }
    }

    section.story {
      background-image: url("../img/img-banner/米色背板.png");
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      // height: 4800px;
      overflow: hidden;
      .top-container {
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.2) 10%,
          rgba(236, 235, 226, 1) 36%,
          rgba(219, 186, 161, 1) 75%
        );
        .card-body {
        }
        .btn {
          // width: 100px;
          // height: 40px;
          padding: 0.45rem 0rem;
          color: gray;
          border: 1px solid gray;
          &:hover {
            background-color: rgba(128, 128, 128, 0.1);
            color: black;
            transition: 0.2s all ease;
          }
        }
      }
      .title-pic {
        @media (min-width: 200px) {
          width: 0%;
        }
        @media (min-width: 992px) {
          width: 60%;
          height: 100%;
        }
        @media (min-width: 1200px) {
          object-fit: cover;
          width: 65%;
        }

        -webkit-box-shadow: -12px 12px 18px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -12px 12px 18px rgba(0, 0, 0, 0.486);
        box-shadow: -12px 12px 18px rgba(0, 0, 0, 0.5);
      }

      .word-container {
        @media (min-width: 1200px) {
        }
      }
      .card-title {
        padding: 1rem 0rem;

        border-bottom: 1px solid black;
      }
      .card-text {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        line-height: 2rem;

        p {
          text-align: justify;
        }
      }
      .tatoo-empty.centered {
        margin: 0px;
        width: 100%;
        font-weight: 800;
        font-size: 28px;
        text-align: center;
        // border-radius: 30% 30%;
        background: rgba(219, 186, 161, 1);
        .neon-effect {
          color: rgb(79, 78, 78);
          letter-spacing: 2px;
          // text-shadow: 0 0 5px rgba(30, 30, 29 0.1),
          //   0 0 10px rgb(30, 30, 29), 0 0 20px rgb(30, 30, 29 0.5),
          //   0 0 40px rgba(30, 30, 29 0.5);
          animation: neon-shine 1.5s 1s linear infinite;
        }
        @keyframes neon-shine {
          0% {
            opacity: 1;
          }
          90% {
            opacity: 0.2;
          }
          100% {
            color: rgb(79, 78, 78);
          }
        }
      }

      .intro {
        background: rgb(219, 186, 161);
        background: linear-gradient(
          0deg,
          rgba(219, 186, 161, 1) 18%,
          rgba(233, 212, 197, 1) 40%,
          rgba(244, 233, 225, 1) 60%,
          rgba(250, 245, 242, 1) 75%,
          rgba(255, 255, 255, 0.5018382352941176) 89%,
          rgba(255, 255, 255, 0) 100%
        );

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .word-pic {
          width: calc(100% / 2);
          height: calc(100% / 2);
          max-width: 550px;
          max-height: 300px;
          object-fit: cover;
        }
      }
      .intro2 {
        .word-pic {
          width: calc(100% / 2);
          height: calc(100% / 2);
          max-width: 400px;
          max-height: 400px;
          object-fit: cover;
          opacity: 0.4;
        }
        .for-intro2 {
          .empty {
            @media (min-width: 992px) {
              width: 10px;
              height: 100px;
            }
            @media (min-width: 1200px) {
              width: 10px;
              height: 250px;
            }
            @media (min-width: 1400px) {
              width: 10px;
              height: 300px;
            }
            @media (min-width: 1500px) {
              width: 10px;
              height: 300px;
            }
            @media (min-width: 1600px) {
              width: 10px;
              height: 350px;
            }
          }
          .empty2 {
            @media (min-width: 1400px) {
              width: 100%;
              height: 65px;
              background-color: rgba(255, 255, 255, 0.3);
            }
            @media (min-width: 1600px) {
              width: 100%;
              height: 65px;
              background-color: rgba(255, 255, 255, 0.3);
            }
          }
          .text-area {
            background: rgb(255, 255, 255);
            background: linear-gradient(
              0deg,
              rgba(255, 255, 255, 0.3) 10%,
              rgba(236, 235, 226, 1) 36%,
              rgba(219, 186, 161, 1) 75%
            );
            .btn {
              // width: 100px;
              // height: 40px;
              padding: 0.45rem 0rem;
              color: gray;
              border: 1px solid gray;
              &:hover {
                background-color: rgba(150, 148, 148, 0.1);
                color: black;
                transition: 0.2s all ease;
              }
              &:hover + img {
                opacity: 1;
                transition: 1s all ease;
              }
            }
          }

          h1 {
            text-align: justify;
          }
          p {
            text-align: justify;
          }
          .btn {
            padding: 0;
          }

          img.show {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.486);
            box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.5);
          }
          img.show2 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-box-shadow: -12px 12px 18px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: -12px 12px 18px rgba(0, 0, 0, 0.486);
            box-shadow: -12px 12px 18px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}
