.footer-bgc {
    background-color: #dbbaa1;
    // background-image: url('../img/trip-img/米色背板.png');
    // background-size: cover;
    // background-position: center center;
}
.footer-panint-top{
    margin-top: -130px;
}
.panter{
    margin-top: -1.2%;
}