* {
  box-sizing: border-box;
  list-style-type: none;
}
* a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
body .new {
  background-color: #ffb900;
  color: #000;
  margin-bottom: 0.5rem;
  display: inline-block;
  padding: 0.375em 0.75em;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  vertical-align: top;
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

#nav {
  width: 100%;
  height: 54px;
  background-color: white;
  padding: 0 5%;
}
@media (max-width: 1084px) {
  #nav {
    padding-left: 24px;
    padding-right: 24px;
  }
}
#nav nav {
  max-width: 1600px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
#nav .logo {
  width: 137px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-shrink: 0;
}
@media (max-width: 860px) {
  #nav .logo {
    position: absolute;
    top: 0%;
    left: 44%;
    z-index: 3;
    display: block;
    height: 54px;
  }
}
#nav .logo .logo-size {
  width: 95%;
  height: 90%;
  background-image: url(../img/logo.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
#nav .hambuger {
  width: 80%;
}
@media (max-width: 860px) {
  #nav .hambuger {
    width: 5%;
    position: relative;
  }
}
#nav .hambuger .hambuger-logo {
  display: none;
}
@media (max-width: 860px) {
  #nav .hambuger .hambuger-logo {
    display: block;
    height: 54px;
    width: 100%;
    padding: 15px;
  }
}
#nav .hambuger .nav2 {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0px 2px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 {
    z-index: 3;
    display: none;
    position: absolute;
    left: -24px;
  }
}
#nav .hambuger .nav2 .all-microsoft {
  width: 129px;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft {
    display: block;
    width: 100vw;
  }
}
#nav .hambuger .nav2 .all-microsoft .nav-size {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  padding: 20px 12px 5px 12px;
  list-style-type: none;
}
#nav .hambuger .nav2 .all-microsoft .function {
  height: 44px;
  border: none;
}
#nav .hambuger .nav2 .all-microsoft .function:hover {
  border-bottom: 2px solid black;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft .function {
    display: none;
  }
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden {
  margin: 0;
  padding: 0;
  z-index: 3;
  position: absolute;
  top: 5%;
  right: 4%;
  display: none;
  flex-direction: column;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden {
    display: block;
    position: static;
  }
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top {
  display: flex;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top {
    display: inline-block;
  }
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top li {
    display: none;
  }
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #software-checkbox {
  display: none;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #software-checkbox:checked ~ .software-checkbox {
  display: block;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #device-checkbox {
  display: none;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #device-checkbox:checked ~ .device-checkbox {
  display: block;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #entertainment-checkbox {
  display: none;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #entertainment-checkbox:checked ~ .entertainment-checkbox {
  display: block;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #forbussiness-checkbox {
  display: none;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #forbussiness-checkbox:checked ~ .forbussiness-checkbox {
  display: block;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #all-microsoft-it-checkbox {
  display: none;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #all-microsoft-it-checkbox:checked ~ .all-microsoft-it-checkbox {
  display: block;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #other-checkbox {
  display: none;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top #other-checkbox:checked ~ .other-checkbox {
  display: block;
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top .allmicrosoft-titlefont {
  margin: 20px 0;
  padding-left: 20px;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top .allmicrosoft-titlefont {
    padding: 20px 12px 8px 12px;
    margin: 0px;
    border-bottom: rgba(180, 179, 179, 0.484) solid 0.1px;
  }
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top .allmicrosoft-fontsize {
  margin-bottom: 10px;
  padding-left: 20px;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top .allmicrosoft-fontsize {
    padding: 20px 12px 8px 12px;
    margin: 0px 0px 0px 35px;
    border-bottom: rgba(180, 179, 179, 0.484) solid 0.1px;
  }
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top .allmicrosoft-hidden-font {
  width: 195px;
  height: 400px;
  background-color: #f2f2f2;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-top .allmicrosoft-hidden-font {
    height: unset;
    width: 100vw;
  }
}
#nav .hambuger .nav2 .all-microsoft .all-microsoft-hidden .all-microsoft-btm {
  width: 100%;
  background-color: #e6e6e6;
  border-bottom: #000 solid 1px;
  display: flex;
  justify-content: center;
}
#nav .hambuger .nav2 .all-microsoft #checkbox-function {
  display: none;
}
#nav .hambuger .nav2 .all-microsoft #checkbox-function:checked ~ .all-microsoft-hidden {
  display: flex;
}
#nav .hambuger .nav2 .nav2-link {
  display: flex;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .nav2-link {
    width: 100vw;
    display: block;
    background-color: #f2f2f2;
  }
}
#nav .hambuger .nav2 .nav2-link .button-bodder:hover {
  border-bottom: 0px;
}
@media (min-width: 860px) {
  #nav .hambuger .nav2 .nav2-link .button-bodder:hover {
    border-bottom: 2px solid black;
  }
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .nav2-link .m365 {
    border-top: rgba(180, 179, 179, 0.484) solid 0.1px;
  }
}
#nav .hambuger .nav2 .nav2-link .nav-size {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  padding: 20px 12px 0px 12px;
  margin-bottom: 8px;
  list-style-type: none;
}
@media (max-width: 860px) {
  #nav .hambuger .nav2 .nav2-link .nav-size {
    display: block;
    text-align: left;
    padding: 20px 12px 8px 12px;
    margin-bottom: 0px;
    border-bottom: rgba(180, 179, 179, 0.484) solid 0.1px;
  }
}
#nav .hambuger .nav2 .nav2-link .nav2-more {
  font-size: 13px;
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#nav .hambuger .nav2 .nav2-link .nav2-more .nav2-hidden {
  padding: 0px;
}
#nav .hambuger .nav2 .nav2-link .nav2-more .nav2-more-button {
  display: none;
}
#nav .hambuger .nav2 .nav2-link .nav2-more input {
  display: none;
}
@media (max-width: 870px) {
  #nav .hambuger .nav2 .nav2-link .nav2-more {
    z-index: 2;
  }
  #nav .hambuger .nav2 .nav2-link .nav2-more li {
    display: block;
  }
  #nav .hambuger .nav2 .nav2-link .nav2-more .nav2-more-button {
    height: 54px;
    display: block;
  }
  #nav .hambuger .nav2 .nav2-link .nav2-more .nav2-more-button:checked {
    background-color: #834e4e;
  }
}
@media (max-width: 870px) and (max-width: 860px) {
  #nav .hambuger .nav2 .nav2-link .nav2-more .nav2-more-button {
    display: none;
  }
}
@media (max-width: 870px) {
  #nav .hambuger .nav2 .nav2-link .nav2-more #nav2-more-button:checked ~ .nav2-hidden {
    display: block;
    background-color: #f2f2f2;
  }
  #nav .hambuger .nav2 .nav2-link .nav2-more #nav2-more-button:checked + .nav2-more-button {
    background-color: #f2f2f2;
  }
}
@media (max-width: 870px) {
  #nav .hambuger .nav2 .nav2-link .nav2-more .nav2-hidden {
    display: none;
    background-color: #f2f2f2;
    position: absolute;
    padding: 0;
    top: 54px;
    width: 150px;
    box-shadow: 1px 1px 5px 1px #cccccc;
  }
  #nav .hambuger .nav2 .nav2-link .nav2-more .nav2-hidden .xbox,
#nav .hambuger .nav2 .nav2-link .nav2-more .nav2-hidden .help {
    text-align: left;
  }
}
@media (max-width: 870px) and (max-width: 860px) {
  #nav .hambuger .nav2 .nav2-link .nav2-more .nav2-hidden {
    display: block;
    box-shadow: none;
    position: static;
  }
}
@media (max-width: 870px) {
  #nav .hambuger .nav2 .nav2-link .nav2-more .nav2-hidden {
    width: 100vw;
  }
}
#nav .hambuger #hambuger-logo {
  display: none;
}
@media (max-width: 860px) {
  #nav .hambuger #hambuger-logo:checked ~ .nav2 {
    display: block;
  }
}
#nav .nav2-search {
  width: 6%;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  padding: 20px 12px 5px 12px;
  list-style-type: none;
}
@media (max-width: 860px) {
  #nav .nav2-search {
    width: 75%;
    text-align: left;
  }
}
#nav .nav2-search span {
  display: none;
}
@media (min-width: 1400px) {
  #nav .nav2-search span {
    display: inline;
  }
}
#nav .nav3 {
  width: 9.437%;
  height: 100%;
  flex-shrink: 0;
}
#nav .nav3 ul {
  margin: 14px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1400px) {
  #nav .nav3 ul {
    margin-top: 4px;
  }
}
#nav .nav3 ul .nav-size {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  margin: 15px 10px 0% 10px;
}
@media (min-width: 1400px) {
  #nav .nav3 ul .nav-size {
    padding: 0 0;
    margin: 4% 0;
  }
}
#nav .nav3 ul .nav-size span {
  display: none;
}
@media (min-width: 1400px) {
  #nav .nav3 ul .nav-size span {
    display: inline;
  }
}

#carousel {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
}
#carousel .carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
}
#carousel .carousel-controls .button {
  width: 50px;
  height: 50px;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: center;
  padding-top: 0.9rem;
}
#carousel .carousel-controls .carousel-indicators {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
#carousel .carousel-controls .carousel-indicators li {
  margin: 0 10px;
  font-size: 1px;
}
#carousel .picture-card {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1084px) {
  #carousel .picture-card {
    justify-content: flex-start;
    flex-direction: row;
  }
}
#carousel .picture-card .carousel-picture {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 1084px) {
  #carousel .picture-card .carousel-picture {
    flex-direction: column;
  }
}
#carousel .picture-card .carousel-picture picture img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
@media (min-width: 1084px) {
  #carousel .picture-card .carousel-card {
    margin-left: -100% !important;
    margin-right: 0;
    width: 100%;
    align-self: center;
    text-align: left;
  }
}
#carousel .picture-card .carousel-card .carousel-container {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  text-align: left;
}
@media (min-width: 1084px) {
  #carousel .picture-card .carousel-card .carousel-container {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: content-box;
  }
}
@media (min-width: 1400px) {
  #carousel .picture-card .carousel-card .carousel-container {
    max-width: 1600px;
  }
}
@media (max-width: 1084px) {
  #carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow {
    height: 270px;
    display: flex;
    align-items: center;
    margin-top: -5.5%;
    background-color: white;
    box-shadow: 3px 3px 9px 3px #cccccc;
  }
}
#carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push {
  display: flex;
}
@media (min-width: 1084px) {
  #carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
  }
}
#carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width {
  width: 100%;
  padding: 0 3rem;
}
@media (min-width: 1084px) {
  #carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width {
    width: 33.33333% !important;
  }
}
#carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body {
  flex: 1 1 auto;
  position: relative;
  word-wrap: break-word;
}
#carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body .h2 {
  font-size: 2.3125rem;
  margin-bottom: 1.25rem;
  margin-top: 0px;
}
#carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body .card-link {
  width: 90px;
  height: 35px;
  background-color: #0067b8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#carousel .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body .card-link a {
  color: white;
}

#middle-nav {
  width: 100%;
  margin-bottom: 3rem;
}
#middle-nav .middle-nav-space {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
@media (min-width: 1400px) {
  #middle-nav .middle-nav-space {
    max-width: 1600px;
  }
}
@media (min-width: 1084px) {
  #middle-nav .middle-nav-space {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
  }
}
#middle-nav .middle-nav-space .middle-nav-space-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#middle-nav .middle-nav-space .middle-nav-space-flex li {
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 602px) {
  #middle-nav .middle-nav-space .middle-nav-space-flex li {
    flex-basis: 180px;
  }
}
#middle-nav .middle-nav-space .middle-nav-space-flex li img {
  width: 40px;
  height: auto;
  margin-bottom: 0.5rem;
}

#content .container {
  width: 100%;
  margin-bottom: 3rem;
}
#content .container .container-pidding {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
@media (min-width: 1400px) {
  #content .container .container-pidding {
    max-width: 1624px;
  }
}
@media (min-width: 1084px) {
  #content .container .container-pidding {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
  }
}
#content .container .container-pidding .container-inside {
  display: flex;
}
@media (max-width: 1084px) {
  #content .container .container-pidding .container-inside {
    flex-wrap: wrap;
  }
}
#content .container .container-pidding .container-inside .card {
  width: 25%;
  position: relative;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1084px) {
  #content .container .container-pidding .container-inside .card {
    flex-basis: 348px;
    flex-grow: 1;
  }
}
@media (max-width: 736px) {
  #content .container .container-pidding .container-inside .card {
    flex-basis: 250px;
    flex-grow: 1;
  }
}
#content .container .container-pidding .container-inside .card picture {
  width: 100%;
  flex-shrink: 0;
  min-height: 1px;
}
#content .container .container-pidding .container-inside .card picture img {
  width: 100%;
}
#content .container .container-pidding .container-inside .card .card-title {
  padding-top: 1rem;
  display: block;
}
#content .container .container-pidding .container-inside .card .card-title .h3 {
  font-size: 1.8125rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
  display: inline;
}
#content .container .container-pidding .container-inside .card .card-title p {
  word-wrap: break-word;
}
#content .container .container-pidding .container-inside .card .card-footer {
  padding-top: 1rem;
}
#content .container .container-pidding .container-inside .card .card-footer .card-footer-link {
  margin-right: 1.5rem;
  padding-right: 1.3125em;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
#content .container .container-pidding .container-inside .card .card-footer .card-lastlink {
  margin-top: 0;
  position: relative;
}
#content .container .container-pidding .container-inside .card .card-footer .card-lastlink:hover i {
  position: absolute;
  left: 10px;
}

#carousel2 .carousel2-margin {
  width: 100%;
  margin: 3rem 0;
}
#carousel2 .carousel2-margin .carousel2-width {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
@media (min-width: 1600px) {
  #carousel2 .carousel2-margin .carousel2-width {
    max-width: 1600px;
  }
}
@media (min-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width {
    max-width: 1600px;
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
  }
}
#carousel2 .carousel2-margin .carousel2-width .picture-card {
  display: flex;
}
@media (max-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card {
    flex-direction: column;
  }
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-picture {
    flex-direction: column;
  }
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-picture picture img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
@media (min-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card {
    margin-left: -100% !important;
    margin-right: 0;
    width: 100%;
    align-self: center;
    text-align: left;
  }
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  text-align: left;
}
@media (min-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: content-box;
  }
}
@media (min-width: 1400px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container {
    max-width: 1600px;
  }
}
@media (max-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow {
    height: 270px;
    display: flex;
    align-items: center;
    margin-top: -5.5%;
    background-color: white;
    box-shadow: 3px 3px 9px 3px #cccccc;
  }
}
@media (max-width: 860px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow {
    margin-top: 0px;
    box-shadow: none;
  }
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push {
  display: flex;
}
@media (min-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push {
    margin-bottom: 3rem !important;
    margin-top: 3rem !important;
  }
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width {
  width: 100%;
  padding: 0 3rem;
}
@media (min-width: 1084px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width {
    width: 33.33333% !important;
  }
}
@media (max-width: 860px) {
  #carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width {
    padding: 0px;
  }
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body {
  flex: 1 1 auto;
  position: relative;
  word-wrap: break-word;
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body .h3 {
  font-size: 2.3125rem;
  margin-bottom: 1.25rem;
  margin-top: 0px;
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body .card-link {
  width: 90px;
  height: 35px;
  background-color: #0067b8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#carousel2 .carousel2-margin .carousel2-width .picture-card .carousel-card .carousel-container .carousel-cardshadow .push .container-width .card-body .card-link a {
  color: white;
}

.content2-title {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
@media (min-width: 1400px) {
  .content2-title {
    max-width: 1600px;
  }
}
@media (min-width: 1084px) {
  .content2-title {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
  }
}
@media (min-width: 1400px) {
  .content2-title h2 {
    font-size: 2.3125rem;
    margin-bottom: 1.25rem;
    margin-top: 3rem;
  }
}

#club {
  width: 100%;
  margin-bottom: 5%;
}
#club .club-width {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
@media (min-width: 1400px) {
  #club .club-width {
    max-width: 1600px;
  }
}
@media (min-width: 1084px) {
  #club .club-width {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
  }
}
#club .club-width .lookat {
  display: inline-block;
}
#club .club-width .facebookyoutube {
  display: inline-block;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#club .club-width .facebookyoutube li {
  margin: 0 5px;
}

#top-button {
  background-color: #bdbaba;
  width: 130px;
  position: -webkit-sticky;
  position: sticky;
  left: 90%;
  bottom: 40px;
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

#footer .footer-background {
  background: #f2f2f2;
}
#footer .footer-background .footer-nav .footer-nav-width {
  margin: 0 auto;
  max-width: calc(1600px + 10%);
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1084px) {
  #footer .footer-background .footer-nav .footer-nav-width .footerinsidefont {
    flex-basis: 26%;
    flex-grow: 1;
  }
}
@media (max-width: 540px) {
  #footer .footer-background .footer-nav .footer-nav-width .footerinsidefont {
    flex-basis: 51%;
    flex-grow: 1;
  }
}
#footer .footer-background .footer-nav .footer-nav-width .footerbox {
  display: block;
  padding: 0 12px;
  width: 16.6666666667%;
  padding-left: 0;
}
#footer .footer-background .footer-nav .footer-nav-width .footerbox .footer-title {
  font-size: 15px;
  padding: 36px 0 4px 0;
}
#footer .footer-background .footer-nav .footer-nav-width .footerbox ul {
  padding: 0;
  margin: 0;
}
#footer .footer-background .footer-nav .footer-nav-width .footerbox ul li {
  padding: 8px 0;
  font-size: 11px;
}
#footer .footer-background .footer-nav .footer-nav-width .footerbox ul li a {
  text-decoration: none;
  color: #616161;
  cursor: pointer;
}
#footer .footer-background .footer-footer {
  margin: 0 auto;
  max-width: calc(1600px + 10%);
  padding: 30px 5% 16px;
  color: #000;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 540px) {
  #footer .footer-background .footer-footer {
    flex-direction: column;
  }
}
#footer .footer-background .footer-footer .earth {
  font-size: 11px;
  display: inline-block;
  padding-right: 24px;
  color: #616161;
  white-space: nowrap;
}
#footer .footer-background .footer-footer .footer-right {
  display: block;
  box-sizing: inherit;
  font-size: 11px;
  font-weight: 400;
}
#footer .footer-background .footer-footer .footer-right ul {
  margin: auto;
  padding: 0;
}
#footer .footer-background .footer-footer .footer-right ul li {
  display: inline-block;
  padding: 0 24px 4px 0;
}
@media (max-width: 540px) {
  #footer .footer-background .footer-footer .footer-right ul li {
    padding: 0 10px 4px 0;
  }
}/*# sourceMappingURL=microsoft.css.map */